<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="floating_clock.Properties.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <floating_clock.Properties.Setting>
            <setting name="Topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRAM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosLeft" serializeAs="String">
                <value>-1024</value>
            </setting>
            <setting name="PosTop" serializeAs="String">
                <value>-1024</value>
            </setting>
            <setting name="ColorName" serializeAs="String">
                <value>blue</value>
            </setting>
        </floating_clock.Properties.Setting>
    </userSettings>
</configuration>